<h1>SchoolClasses#index</h1>
<p>Find me in app/views/school_classes/index.html.erb</p>
<% @school_classes.map do |school_class| %>
    <%= school_class.title %>
    <%= school_class.room_number %>
<% end %>
